<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Course</title>
</head>
<body>
    <h2>Delete Course</h2>
    <form action="/deleteCourse" method = 'post'>
        <input type="hidden" name="_method" value="delete"/>

        <label>Course Id</label>
        <input type="number" name = 'cid'/>
        <br>
        <input type="submit" value = 'submit'/>
        <input type="reset" value = 'reset'/>
        <br> <br>
        
        <a href="http://localhost:9090/">Main Page</a>
    </form>
</body>
</html>